*{
    margin: 0px;
    padding: 0px;
}
span{
 font-weight: 800;
}
h1{
}
/* ------------------- BODY -------------------- */
#battleplanBody{
}
/* ------------------- BODY end ----------------- */
#h1_Title{
    position: relative;
    text-align: center;
}
#main-container{
    position: absolute;
    width: 100%;
    padding-left: 72px;
    text-align: center;

}
#textArea{
    position: relative;
    display: inline-block;
    margin: 0px auto;
    opacity: 0.8;
    top: 100px;

}
