/* Remove most absolute positioning so that it's more dynamic */
body{
    margin: 0;
    background-color: rgb(124, 161, 149);
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

#home {
    cursor:pointer;
}

.container{
    position: relative;
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    padding-left: 90px;
    padding-top: 5px;
    padding-right: 90px;
}

.editListButton{
    border: none;
    background: none; 
}

/* .cardMenuBackground{
    position: absolute;
    display: none;
    margin-top: 0;
    height: 100vw;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    
} */

/* .cardMenu{
    position: absolute;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    top:100px;
    width:400px;
    height: 500px;
    background-color: white;
    z-index: 2;   
} */

/* .cardMenuMainArea{
    position: relative;
}

#cardMenuX{
    position: absolute;
    top: 10px;
    right: 10px;
}

#cardMenuTextArea{
    position: absolute;
    width: 300px;
    top: 10px;
    left: 10px;
    resize: none;
    font-size: 16px;
} */



/* BOARD AREA START */

.addNewBoardDiv {
    margin:10px;
    flex-shrink: 0;
    display: inline-block;
    width:250px;
    width:250px;
    border: none;
    font-size: 14px;
    height: 40px;
    color: white;
    background-color: rgb(86, 83, 88);   
    opacity: 0.7;
    text-align: left;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.addNewBoardDiv:hover {
    background-color: rgb(54, 54, 54);  
}

.addNewBoardDiv p {
    text-align: center;
    line-height: 40px;
    font-size: 1.25em;
    user-select: none;
}

.boardDiv {
    display: inline-block;
    flex-shrink: 0;
    width:250px;
    min-height: 100px;
    margin:10px; 
    margin-right: 30px;
    padding:8px;
    background-color: #c4765a;
    text-align: left;
    border-radius: 5px;
    box-sizing: border-box;
}

.boardDivTitle {
    display: inline-block;
    font-size: 1.25em;
    margin-bottom: 9px;
    margin-left: -142px;
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
    min-height:18px;
}

.deleteBoardImg{
    display: inline-block;
    margin-top:12px;
    margin-left: 210px;
    width: 15px;
    height: 20px;
    border-radius: 3px;
    transition: all 0.3s;
}

.deleteBoardImg:hover{
    transform: rotate(-20deg);
}


.replaceBoardTitleRename{
    display: inline-block;
    font-size: 1.25em;
    text-align: center;
    max-width: 180px;
    height: 20px;
    margin-left: -208px;
    margin-bottom: 8px;
    border:2px solid #a74e2d;
    outline:none;
}

/* BOARD AREA END */

/* TASK AREA START */
.createTaskButton{
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 77px;
    width: 80px;
    height: 25px;
    border-left:2px solid #c56440;
    border-right:2px solid #c56440;
    border-bottom: none;
    border-top:none;
    border-radius:3px;
    background:none;
    color:#FFF; 
    transition: all 0.3s ease-out;
}

.createTaskButton:hover{
    width: 120px;
    height: 25px;
    margin-left: 57px;
    background: #d6ab9b; 
    color:#000;
    border:none;
}


.taskDivTextArea{
    resize: none;
    min-height:78px;
    width: 190px;
    border:none;
    font-size: 16px;
    overflow-wrap: break-word;
    white-space: normal;
}

.taskDiv {
    display: block;
    font-size: 16px;
    width:200px;
    max-width:200px;
    min-height:100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 17px;
    padding-bottom: 10px;
    box-shadow: 0px 3px #a3644d;
    transition: background-color 0.2s;
    padding: 5px;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.taskDiv:hover{
    background-color:rgb(235, 235, 235);
}
/* TASK AREA END */
/* TASK POPUP MENU START */
.taskInfoPopupDiv {
    position: fixed;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    top:45px;
    width:400px;
    height: 580px;
    background-color: white;
    z-index: 2;   
    border-radius:5px;
}

.taskInfoPopupBackground {
    position: fixed;
    display: none;
    margin-top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#taskInfoPopupImportanceDropdownDiv{
    width:100px;
    margin-left:150px;
    background-color: rgb(219, 219, 219);
}

#taskInfoPopupTitle {
    display: inline-block;
    font-size: 1.25em;
    margin-top:15px;
    margin-bottom: 2px;
    margin-left: 50px;
    max-width:300px;
    height: 100px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: none;
    overflow-wrap: break-word;
    white-space: normal;
}

#taskInfoPopupTitleEditor {
    display: none;
    font-size: 1.25em;
    margin-top:15px;
    margin-bottom:10px;
    margin-left: 50px;
    width:300px;
    height: 90px;
    resize: none;
}

.custom-header{
    font-size: 14px;
    color: #000;
}

.ms-container{
    margin-left: 50px;
    max-width: 300px;
    margin-bottom: 10px;
}

.descriptionHeader{
    font-size: 12px;
    margin-top:0px;
    margin-left: 50px;
}

#taskInfoPopupDescription {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 50px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

#taskInfoPopupDescriptionEditor {
    display: none;
    resize:none;
    width: 300px;
    height:100px;
    margin-left: 50px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgb(248, 246, 246);
}

#taskInfoPopupDeleteButton{
    display: block;
    filter: invert(100%);
    width: 35px;
    height: 50px;
    margin-top:10px;
    margin-left: 180px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

#taskInfoPopupDeleteButton:hover{
    transform: rotate(-20deg);
}

/* TASK POPUP MENU END */

