/* Remove most absolute positioning so that it's more dynamic */
body{
    margin: 0;
    background-color: rgb(124, 161, 149);
    overflow-x: scroll;
    white-space: nowrap;
}

#home {
    cursor:pointer;
}

.container{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    padding-left: 90px;
    padding-top: 5px;
}

.deleteBoardImg {
    width: 25px;
    height: auto;
    filter: invert(100%);
}
.createTaskButton{
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 65px;
    width: 120px;
    height: 25px;
    border: none;
    border-radius:3px;
    background: #FFF;
}


.addNewBoardDiv {
    flex-shrink: 0;
    display: inline-block;
    width:250px;
    width:250px;
    border: none;
    font-size: 14px;
    height: 40px;
    padding-left: 15px;
    color: white;
    background-color: rgb(86, 83, 88);   
    opacity: 0.7;
    text-align: left;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.addNewBoardDiv:hover {
    background-color: rgb(54, 54, 54);  
}

.addNewBoardDiv p {
    text-align: center;
    line-height: 40px;
    font-size: 1.25em;
    user-select: none;
}

.boardDiv {
    display: inline-block;
    flex-shrink: 0;
    width:250px;
    min-height: 130px;
    margin:10px; 
    background-color: #c4765a;
    text-align: left;
    border-radius: 5px;
    margin-right: 30px;
}

.boardDivTitle {
    font-size: 1.25em;
    text-align: center;
    line-height: 40px;
}

.replaceBoardTitleRename{
    font-size: 1.25em;
    text-align: center;
    max-width: 200px;
    display: block;
    height: 20px;
    margin-left: 25px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.taskDivTextArea{
    resize: none;
    min-height:100px;
    width: 190px;
    border:none;
    font-size: 16px;
}

.taskDiv {
    display: block;
    font-size: 16px;
    max-width:190px;
    min-height:100px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 25px;
    padding-bottom: 10px;
    box-shadow: 0px 3px #a3644d;
    transition: background-color 0.2s;
    padding: 5px;
    overflow-wrap: break-word;
    white-space: normal;
}



.taskInfoPopupDiv {
    position: absolute;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    top:100px;
    width:400px;
    height: 400px;
    background-color: white;
    z-index: 2;   
    border-radius:5px;
}

.taskInfoPopupBackground {
    position: absolute;
    display: none;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#taskInfoPopupTitle {
    display: block;
    font-size: 1.25em;
    margin-top:10px;
    width:300px;
}

#taskInfoPopupTitleEditor {
    display: none;
    font-size: 1.25em;
    margin-top:10px;
    margin-left: 90px;
}

.membersHeader{
    font-size: 12px;
    margin-top:100px;
    margin-left: 50px;
}

.descriptionHeader{
    font-size: 12px;
    margin-top:0px;
    margin-left: 50px;
}

#taskInfoPopupDescription {
    display: block;
    width: 300px;
    height: 100px;
    margin-left: 50px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

#taskInfoPopupDescriptionEditor {
    display: none;
    resize:none;
    width: 300px;
    height:100px;
    margin-left: 50px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgb(248, 246, 246);
}

#taskInfoPopupDeleteButton {
    color: #a3644d;
    width: 200px;
    height: auto;
    filter: invert(100%);
}
#deleteCard{
    margin-top:20px;
    margin-left: 50px;
    width: 300px;
    height: 30px;
    border-radius: 3px;
}