.noteName {
    font-weight: bolder; /* bold text */
    font-family: "Gloria Hallelujah", cursive;
    font-size: 24px;
    color: black;
    top: 1px;
    position: absolute;
    left: 10px;
}

#incubatorContainer {
    /* --width: 72px; */
    position: absolute;
    /* width: calc(100% - var(--width)); */
    /* left: calc(var(--width ) + 250px); */
    /* left: var(--width); */
    /* height: 100%;  */
    background-color: rgba(5, 5, 5, 0.123);
    touch-action: none;
    min-width: 2000px;
    min-height: 900px;

}

#trashCan {
    top: 100px;
    left: 500px;
    position: absolute;
    width: 125px;
    height: auto;
}

#trashCan img {
    width: 100%;
    height: auto;
}

#approvalBox {
    top: 100px;
    left: 100px;
    position: absolute;
    width: 125px;
    height: auto;
}

#approvalBox img {
    width: 100%;
    height: auto;
}

.note {
    position: absolute;
    /* user-select: none; */
    padding-top: 20px;
    position: absolute;
    border-radius: 2%;
    width: 200px;
    height: 150px;
    background-color: #e9df85;
    box-shadow: 2px 2px 15px black;
    overflow: hidden;
    opacity: .9;
    overflow: visible;
    text-align: center;
    border-radius: 5%;
    font-family: "Gloria Hallelujah", cursive;
}

.note:active {
    background-color: rgba(253, 115, 100, 0.726);
}
.note:hover {
    cursor: pointer;
    /* border-width: 20px; */
}

/* Context Menu */

.custom-menu {
    display: none;
    z-index: 65535;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}
.textarea{
    position: absolute;
    top: 50px;
    left: 0px;
    resize: none;
    width: 200px;
    height: 120px;
    background-color: #e9df85;
    border: solid;
    border: #a9a9a9;
    font-size: 20px;
    font-family: "Gloria Hallelujah", cursive;
    border-bottom-left-radius : 5%;
    border-bottom-right-radius : 5%;
}

#testTest{
    width: 500px;
    height: 500px;
    background: red;
    position: absolute;
    
}