.noteName {
    font-weight: 600; /* bold text */
}

#incubatorContainer {
    --width: 72px;
    position: relative;
    width: calc(100% - var(--width));
    /* left: calc(var(--width ) + 250px); */
    left: var(--width);
    height: 100%;
    background-color: #333;
    /* border-radius: 1%; */
    touch-action: none;
}

#trashCan {
    top: 100px;
    left: 500px;
    position: absolute;
    width: 125px;
    height: auto;
}

#trashCan img {
    width: 100%;
    height: auto;
}

#approvalBox {
    top: 100px;
    left: 100px;
    position: absolute;
    width: 125px;
    height: auto;
}

#approvalBox img {
    width: 100%;
    height: auto;
}

.note {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 10%;
    touch-action: none;
    user-select: none;
}

.note:active {
    background-color: rgba(168, 218, 220, 1.00);
}
.note:hover {
    cursor: pointer;
    /* border-width: 20px; */
}

/* Context Menu */

.custom-menu {
    display: none;
    z-index: 65535;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}