body {
    background-color: #3333;
    color: antiquewhite;
}

body {
    background-image: url(../Images/masKlogo.png);
    font-family: 'Titillium Web', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 730px; */
}