* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
a{
    color: #fff;
}
ul{
    list-style-type: none;
}

/*-------- SIDEBAR--------*/
#sidebar{
    position: fixed;
    width: 72px;
    height: 100%;
    background-color: #272828;
}
/*---------SIDEBAR end ---------*/

/*---------------- General Menu Styling ----------------*/
#navigator{
    margin: 0 auto;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 5px;
}

.dropdown{
    position: absolute; 
    width: 150px;
    top: -15px; 
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    left: 40px;
    overflow-y: scroll;
    height: 50vh;
}

#navigator li {
    float: left;
    margin-top: 25px;
    margin-left: 15px;
    background: #272828;
}
#navigator ul li {
    padding: 15px;
    margin-top: 2px;
}

#navigator li:first-child {
    border: none;
}
#navigator { 
    display: block;
    padding: 12px 5px;
    color: #fff;
    font-family: sans-serif;
}
/*Changes the color of the background of Li elements when hovered on.*/
#navigator li:hover{
    background: #525151;
    transition: ease-in .35s;
    transition: ease-in .35s;
    transition: ease-in .35s;
}
/*----------- First Level------------*/
    /*!important overrides any other declartion*/
.subMenu {
    position: relative;
    top: 0px;
    margin: 2px;
    border-left: none !important; 
    border-bottom: 1px dotted #fff !important;
}
/*last-child represents the last element among a group of sibling elements
So in this case the last subMenu li. So the border wont display on the last element.*/
.subMenu:last-child{
    border: none !important;
}
/*To make the first level hover visible*/
.hasSubMenu:hover .dropdown{
    opacity: 1;
    visibility: visible; 
    transition: ease-in .35s;
    transition: ease-in .35s;
    transition: ease-in .35s;
}
/*To make the 2end level hover visible, this takes the first
members then li and the ul with the hasSubMenu and dropdown to be visible. 
So you can see the a tag in the dropdown.*/
.hasSubMenu .hasSubMenu:hover .dropdown{
    opacity: 1;
    visibility: visible; 
    transition: ease-in .35s;
    transition: ease-in .35s;
    transition: ease-in .35s;
}
/*This makes the text in the li´s inside members white*/
#navigator li:hover ul /*a*/{
    color: #fff;
}
/* This makes the text inside the a tag in the li and ul have a white color.*/
#navigator li:hover ul li ul li /*a*/{
    color: #fff;
}
/*-------------First level End---------*/

/*------------Second Level-------------*/
.hasSubMenu .hasSubMenu .dropdown .subMenu{
    left: 25px;
    position: relative;
    width: 100%;
    top: 0px;
    height: 100%;
}
.hasSubMenu .hasSubMenu .dropdown{
    position: absolute;
    width: 150px;
    left: 100px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    transition: ease-out .35s;
    transition: ease-out .35s;
}
/*--------------Secound Level end ----------------*/

/*---------------- Contact button ---------------*/
#contact{
    position: absolute;
    background-color: #272828;
    padding: 5px;
    bottom: 0px;
    margin: 15px 12px 12px; 
    right: 5px;
    border-radius: 40%;
}
#info{
    width: 30px;
}
/*-----------Logo--------------*/
#logo{
    position: relative;
    height: 100px;
    background-color: #272828;
    width: 72px;
}

#homeLogo{
    position: relative;
    width: 50px;
    margin-top: 25px;
    margin-left: 10px;
}
.navi{
    position: relative;
    width: 20px;
}